* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  color: #000;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #18181B;
     */
  background-color: #ccc;
}


nav {
  /* max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  background-color: #000; */

  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 4%;
  background-color: #ccc;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-logo {

  font-size: 2rem;

}

.nav-logo a .p {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #000;

}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1d4ed8;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: #fff;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;

}

/* 
.blur{
    position: absolute;
    box-shadow: 0 0 100px 50px #1d4ed8;
    z-index: -100;
} */

header {
  position: relative;
  padding-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;

}

header .content h4 {
  display: flex;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;

}

header .content h1 {
  display: flex;
  color: #000;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  justify-content: center;
}

header .content h1 span {
  display: flex;
  -webkit-text-fill-color: #3c7ef1;
  -webkit-text-stroke: 1px #000;
  justify-content: center;
}

header .content p {
  margin-bottom: 2rem;
  color: #ccc;
  text-align: justify;


}

header .image {
  position: relative;
}

header .image::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 20rem;
  color: #1d4ed8;
  opacity: 0.2;
  z-index: -100;
}

header .image img {
  max-width: 600px;
  margin: auto;
}

section .header {
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;

}




.features {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.features .card {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width: 600px;
  height: 400px;
}

.features .card:hover {
  /* background-color: #323232; */
  border-color: #1d4ed8;
}

.features .card span {
  display: inline-block;
  background-color: #1e40af;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}

.features .card h4 {
  margin-bottom: 0.5rem;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;

}

.features .card p {
  color: #000;
  margin-bottom: 1rem;
  /* text-align: justify; */
}

.features .card a {
  color: #fff;
  transition: all 0.3s ease;
}

.features .card a:hover {
  color: #1e40af;
}

.sub-header {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #000;
}

.pricing {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.pricing .card {
  padding: 3rem 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.pricing .card:hover {
  background-color: #323232;
  border-color: #fff;
}

.pricing .card .content {
  flex: 1;
  margin-bottom: 2rem;
}

.pricing .card h4 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;

}

.pricing .card h3 {
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}

.pricing .card p {
  color: #ccc;
  margin-bottom: 0.75rem;
}

.pricing .card p i {
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.pricing .card button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.pricing .card button:hover {
  background-color: #1e40af;
  border-color: #1e40af;
}


footer {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

footer .column .logo {
  max-width: 100px;
  margin-bottom: 2rem;
}

footer .column p {
  color: #ccc;
  margin-bottom: 2rem;
}

footer .column .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .column .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;

}

footer .column .socials a:hover {
  color: #fff;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}

footer .column h4 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;

}

footer .column>a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;

}

footer .column>a:hover {
  color: #1d4ed8;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

@media (width < 900px) {
  .nav-links {
    display: none;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }

  header .image {
    grid-area: 1/1/2/2;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    grid-template-columns: 1fr 200px;
  }
}

@media(width < 600px) {
  header .image::before {
    display: none;
  }

  .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    grid-template-columns: 1fr 150px;
  }




}














/* Fonts */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

/* 
  .section-container {
    display: flex;
}

.about-containers, .about-details-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.about-details-container {
    justify-content: center;
    flex-direction: column;
}
  .details-container {
    display: flex;
} */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.details-container i {
  color: #000;

  font-size: 2rem;
}

.typing-text span {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}


:root {
  --bg-color: #000000;
  --second-bg-color: #161616;
  --text-color: #fff;
  --main-color: #3c7ef1;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  transition: 0.4s ease;
}

#socials-container a i {
  background-color: transparent;
}

#socials-container a:hover {
  color: white;
  transform: scale(1.3)translateY(-5px);
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#socials-container a i {
  color: #000;
  font-size: 3rem;
}


.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}


/* timeline */

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  /* padding: 0 9%; */
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 20px;
  background-color: #fff;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);


}

.timeline .timeline-row {
  display: flex;
  column-gap: 64px;
  flex-wrap: wrap;
}

.timeline-row .timeline-column {
  flex: 1 1 320px;
}


.timeline-column .title {
  position: relative;
  display: inline-block;
  font-size: 28px;
  margin: 32px 0 16px 30px;
}

.timeline-column .timeline-box {
  /* background-color: var(--main-color); */
  position: relative;
  border-left: 2px solid var(--main-color);
}


.timeline-box .timeline-content {
  padding-left: 27px;
  position: relative;
}

.timeline-box .timeline-content::before {
  content: '';
  position: absolute;
  left: -10.5px;
  width: 20px;
  height: 20px;
  background: var(--main-color);
  border-radius: 50%;

}

.timeline-content .content {
  padding: 24px;
  border: 2px solid var(--main-color);

  border-radius: 8px;
  margin-bottom: 32px;
}

.timeline-content .content .year {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color);
}

.tomeline-content .content .year i {
  margin-right: 8px;

}

.timeline-content .content h3 {
  font-size: 19px;
  margin: 8px 0;
}

.timeline-content .content p {
  font-size: 16px;
}


.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 105%;
  height: 100%;
  background: #fff;
  animation: show-right 1s ease forwards;
  animation-delay: calc(.5s * var(--i));

}

@keyframes show-right {

  100% {
    width: 0;
  }

}







.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-bottom: 10px;
  /* background-color: #fff; */

  /* border-radius: 1rem;
  border: solid 1px #000000a7;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); */



}

.titulo p {
  font-size: 1rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #000;
}

.titulo h2{
  font-size: 2rem;
}








.skills {
  display: flex;
  justify-content: center;

  align-items: center;

  margin-bottom: 50px;
}

.skills .container-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
}

.skills .container {
  background: #fff;
  color: var(--text-color);
  padding: 2rem;
  width: 100%;
  margin-top: 2rem;
  border-radius: 2rem;
  border: 0.1rem solid rgb(163, 163, 163);
}


.skills .container p {

  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  text-align: center;

}


.skills .container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;

}

.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  background: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  width: 170px;
  border: 1px solid #000;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  height: 250px; /* Defina uma altura fixa */
}

.skills .container .bar:hover {
  box-shadow: 0 4px 10px var(--main-color);
  transform: scale(1.03);

  color: #1d4ed8;
}

.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  justify-content: center; /* Alinha o conteúdo ao topo */
  padding-top: 10px; /* Adiciona um pouco de espaço do topo */
  
}

.skills .container .bar .card-front {
  z-index: 2;
  transform: rotateY(0deg);
  margin-top: 0px;
    bottom: 0px;
    right: 0px;
}

.skills .container .bar .card-back {
  transform: rotateY(180deg);
}

.skills .container .bar.is-flipped {
  transform: rotateY(180deg);
}

.skills .container .bar .card-back ul li{
  list-style-type: none; /* Remove bullets */
 
}

.skills .container .bar .card-back ul li p {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 0.5rem;
  color: #000;
  font-weight: bold;
  
}


.skills .container .bar .info span {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
  color: #000;
}

.skills .container .bar .info p {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 0.5rem;
  color: #000;
  
}

@media screen and (max-width: 1550px) {

  .skills .container-con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
  }

}


@media screen and (max-width: 800px) {
  .skills .container {
    margin: 0;
    padding: 0;
  }

  .skills .container-con .container .row {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;

  }

  .skills .container {

    margin-top: 5px;
    width: 100%;
  }

}

@media screen and (max-width: 559px) {
  /* .skills .container{
    margin: 0;
    padding: 0;
  } */

  .skills .container-con .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding-right: 50px;
    padding-left: 50px;
    gap: 1rem;

  }

  /* .skills .container{

    margin-top: 5px;
    width: 100%;
  }
   */
}


/* Projetos */

.wrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-project {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card-project {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}


.card-project>.row-project {
  /* color: #ccc; */
  display: flex;
  flex-wrap: nowrap;
}

.card-project>.row-project>.icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;

}

.card-project>.row-project>.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;

}

.description p {
  color: black;
  padding-top: 5px;
}

.description h4 {
  color: white;
  text-transform: uppercase;
}
/* 
input {
  display: none;
} */


input:checked+label {
  width: 600px;
}


input:checked+label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card-project[for="c1"] {
  background-image: url('https://nicolasfernandes.dev.br/portifolio/images/beststart-2.png');

}

.card-project[for="c2"] {
  background-image: url('https://nicolasfernandes.dev.br/portifolio/images/finans.png');

}

.card-project[for="c3"] {
  background-image: url('https://nicolasfernandes.dev.br/portifolio/images/xa-it.png');

}

.card-project[for="c4"] {
  background-image: url('https://nicolasfernandes.dev.br/portifolio/images/header.png');

}

.form-email{
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 100%;
  max-width: 30rem;
}

label,
input,
textarea,
.email {
  display: block ;
}
input,
textarea,
.email{
  width: 100%;
  font: inherit !important;
  padding: 1.24rem;
  font-weight: 700;
}

input, textarea {

  margin-bottom: 1rem;
  color: black !important;
  background: #fff;
  border: 0.125rem solid transparent ;
  border-radius: 1.125rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}


input:hover,
input:focus,
textarea:hover,
textarea:focus{
  outline: none;
  border-color: #1d90f5;

}

label{
  margin-bottom: 0.5rem;

}

textarea{
  min-height: 12.5rem;
  resize: vertical;
}

 .email{
  border: none;
  border-radius: 99px;
  color: white;
  background: #1d90f5;
  cursor: pointer;
  transition: 0.3s ease;
}

.email:hover,
.email:focus{
  outline: none;
  background: #1c70d3;
}

.email.disabled{
cursor: not-allowed;
background: #555b69;
}